// app global css in SCSS form
body {
	font-family: $body-font;
	background-color: #006ead;
	background-image: url(assets/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	scrollbar-color: dark;
}

*::-webkit-scrollbar {
	background: #005383;
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	background: #5799be;
	border: 1px solid #888;
	border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Cinzel, sans-serif;
	font-weight: 500;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 0;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 24px;
}

h3 {
	font-size: 2.1rem;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

h5 {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

h6 {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

form h6 {
	font-family: Michroma, sans-serif;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: $indigo-8;
}

ol li {
	margin-bottom: 6px;
}

.q-timeline {
	margin-top: 0;
}

// Custom

.avatar {
	border-radius: 50%;
}
