// app global css in SCSS form
body {
	font-family: Alegreya Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Michroma, sans-serif;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted;
}

.q-toolbar__title {
	font-family: Michroma, sans-serif;
	font-weight: bold;
}

.q-timeline {
	margin-top: 0;
}

.q-timeline__heading-title {
  text-align: center;
	font-size: 2.5rem;
}

.q-timeline__title a {
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}
