// app global css in SCSS form
body {
	font-family: $body-font;
	background-color: #006ead;
	background-image: url(assets/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	scrollbar-color: dark;
}

html.webp body {
	background-image: url(assets/bg.webp);
}

*::-webkit-scrollbar {
	background: #005383;
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	background: #5799be;
	border: 1px solid #888;
	border-radius: 5px;
}

.q-page *::-webkit-scrollbar {
	background: #eeeeee;
	border: none;
	width: 12px;
}

.q-page *::-webkit-scrollbar-thumb {
	background: #cccccc;
	border: none;
	border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	font-weight: 500;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 0;
	letter-spacing: 0;
	line-height: 1.3;
	margin-bottom: 24px;
}

h3 {
	font-size: 2.1rem;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.8rem;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

h5 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
}

h6 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
}

form h6 {
	font-family: $form-header-font;
}

a {
	text-decoration: none;
	color: $link-color;
}

.q-page a:visited {
	color: $link-visited-color;
}

.q-page a.q-item:visited {
	color: inherit;
}

.q-page a:hover {
	color: $link-hover-color;
	transition: all 0.3s ease;
}

.q-page a.q-item:hover {
	color: inherit;
}

ol li {
	margin-bottom: 6px;
}

.q-timeline {
	margin-top: 0;
}

// Resize images to fit content area
.q-page img {
	max-width: 100%;
	height: auto;
}

// Custom

.avatar {
	border-radius: 50%;
}

.external-link-icon {
	position: relative;
	top: -1px;
}

// Mobile usability improvements
@media screen and (max-width: $breakpoint-xs) {
	h2 {
		font-size: 2.0rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.5rem;
	}
}
