<style>p { margin-bottom: 0.8em }</style>
<p>Greetings {{ name }},</p>
<p>You have requested to have your email changed to <strong>{{ newEmail }}</strong>. To do it, click the link below.</p>
<p><a clicktracking="off" href="{{ confirmLink }}">Confirm your new email</a></p>
<p>If you did not request this change, someone may be trying to steal your account. Open your account management page and change your password to prevent this from happening.</p>
<p>{{ sitename }}</p>
