<style>p { margin-bottom: 0.8em }</style>
<p>Greetings {{ name }},</p>
<p>To reset your Chaos Archives password, please click the link below.</p>
<p><a href="{{ resetLink }}">Reset your password</a></p>
<p>If you did not request this email, you can safely ignore it.</p>
<p>Chaos Archives</p>
