// font definition
@font-face {
	font-family: 'Cinzel Eorzea';
	font-weight: 500;
	font-style: normal;
	src: url(/fonts/Cinzel-Eorzea-Medium.woff2) format('woff2'), url(/fonts/Cinzel-Eorzea-Medium.woff) format('woff');
}

html, body {
	font-size: 16px;
	font-variant-numeric: lining-nums;
}

body {
	background: #EDEDED;
	font-family: 'Crimson Pro', serif;
}

@media screen and (min-width: 1024px) {
  body {
    overflow-y: scroll;
  }
}

*::-webkit-scrollbar {
	background: #EDEDED;
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background: #CCCCCC;
	border: 1px solid #888;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: #556;
}

.layout__page-container a {
	border-bottom: 1px dashed;
}

.layout__page-container a.q-btn {
	border-bottom: none;
}

a:hover {
	color: #551a8b;
}

h2 {
	/*font-size: 4rem; */
	text-align: center;
}

h2.with-subtitle {
	margin-bottom: 0;
}

.subtitle {
	text-align: center;
	font-family: $header-font;
	font-size: 1.6em;
	margin-bottom: 24px;
}

h3 {
	font-size: 2rem;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.7rem;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

h5 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
}

h6 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
}

.striped-list .q-item, .striped-list tbody tr {
	background: $striped-list-bg-odd;
}

.striped-list .q-item:nth-child(even), .striped-list thead tr, .striped-list tr:nth-child(even) {
	background: $striped-list-bg-even;
}
