// font definition
@font-face {
	font-family: 'Cinzel Eorzea';
	font-weight: 500;
	font-style: normal;
	src: url(/fonts/Cinzel-Eorzea-Medium.woff2) format('woff2'), url(/fonts/Cinzel-Eorzea-Medium.woff) format('woff');
}

html, body {
	font-size: 16px;
	font-variant-numeric: lining-nums;
}

body {
	background: #EDEDED;
	font-family: 'Crimson Pro', serif;
}

@media screen and (min-width: 1024px) {
  body {
    overflow-y: scroll;
  }
}

*::-webkit-scrollbar {
	background: #EDEDED;
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background: #CCCCCC;
	border: 1px solid #888;
	border-radius: 5px;
}

a {
	color: #556;
	text-decoration: none;
	border-bottom: 1px dashed;
}

a:hover {
	color: #551a8b;
}
